
@{
    ViewBag.Title = "CreateTest";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div align="center" style="margin-top: 5px">
    <div class="input-group">
        <span>artem</span><input type="text" class="form-control" placeholder="Title">
    </div>
    <input type="text" class="form-control" placeholder="Topic">
</div>

