@model BLL.Entities.UserEntity
@{
    ViewBag.Title = "About";
}
<h2>Check you knowledges here</h2>
<h2>Id: @Model.Information.Id</h2>
<h2>TimeStart: @Model.Information.TimeStart</h2>
<h2>FinishTime: @Model.Information.FinishTime</h2>