@using MvcKnowledgeSystem.Models
@model MvcKnowledgeSystem.Models.CustomPrincipal
@{

    ViewBag.Title = "Index";
}

<h2>Account Index</h2>
@*<h2>Current user:@Model.Identity.Name </h2>*@
<h2>Current user:@User.FirstName </h2>