.center-form-group {
    width: 60%;
    display: inline-block;
}

.center {
    text-align: center;
    margin-top: 5px;
}

.panel-body {
    text-align: center;
}

.panel-heading:hover {
    background-color: #bdeec0;
    cursor: pointer;
}
